output/Ligth.exe
output/config.json
main.dart
main copy.dart
Ligth.exe
Ligth copy.py
config.json
logo (1).ico
output/
notification_*.mp3
hello.py
*.mp3
*.mp3
__pycache__/config_manager.cpython-312.pyc
__pycache__/notifier.cpython-312.pyc
__pycache__/updater.cpython-312.pyc
__pycache__/wifi_scanner.cpython-312.pyc
build/electricity_monitor_app/Analysis-00.toc
build/electricity_monitor_app/base_library.zip
build/electricity_monitor_app/electricity_monitor_app.pkg
build/electricity_monitor_app/EXE-00.toc
build/electricity_monitor_app/localpycs/pyimod01_archive.pyc
build/electricity_monitor_app/localpycs/pyimod02_importers.pyc
build/electricity_monitor_app/localpycs/pyimod03_ctypes.pyc
build/electricity_monitor_app/localpycs/pyimod04_pywin32.pyc
build/electricity_monitor_app/localpycs/struct.pyc
build/electricity_monitor_app/PKG-00.toc
build/electricity_monitor_app/PYZ-00.pyz
build/electricity_monitor_app/PYZ-00.toc
build/electricity_monitor_app/Tree-00.toc
build/electricity_monitor_app/Tree-01.toc
build/electricity_monitor_app/Tree-02.toc
build/electricity_monitor_app/warn-electricity_monitor_app.txt
build/electricity_monitor_app/xref-electricity_monitor_app.html
dist/electricity_monitor_app.exe
electricity_monitor_app.exe
electricity_monitor_app.exe.bak
